.logo-container {
  position: fixed;
  height: 140px;
  aspect-ratio: 3.7/2;
  clip-path: ellipse(85% 100% at 50% 0%);
  background: linear-gradient(to top, #f43b47, #453a94);
}

.college img {
  height: 6em;
}

.college {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 100%;
  color: white;
  padding-bottom: 12px;
}

.college h3 {
  font-family: "Pirata One", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
}

.college p {
  font-family: "Homenaje", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.1em;
  margin-top: -15px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .logo-container {
    width: 100%;
    max-width: 270px;
    background: none;
  }

  .college {
    flex-direction: column;
    display: flex;
    /* flex-wrap: wrap; */
  }

  .college img {
    align-self: flex-start;
    padding-left: 15px;
  }
}
